*.iml
*.iws
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Build artifacts
build/
/captures
.externalNativeBuild
.cxx
/app/release/app-release.aab

# Kotlin Native
.kotlin/
*.exe

# Xcode specific
DerivedData/
*.xcuserdata
xcuserdata/
xcshareddata/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Xcode secrets
iosApp/Configuration/Secrets.xcconfig
iosApp/iosApp/GoogleService-Info.plist
